<h1>Buttons</h1>
<h2>Light</h2>
<p>
  <glam-button label="Enabled"/>
  <glam-button label="Hovered" state="hovered"/>
  <glam-button label="Focused" state="focused"/>
  <glam-button label="Pressed" state="pressed"/>
  <glam-button label="Disabled" [disabled]="true"/>
</p>
<h2>Dark</h2>
<p>
  <glam-button label="Enabled"/>
  <glam-button label="Hovered" state="hovered"/>
  <glam-button label="Focused" state="focused"/>
  <glam-button label="Pressed" state="pressed"/>
  <glam-button label="Disabled" [disabled]="true"/>
</p>
<h1>Calendar</h1>
<glam-calendar-panel/>
